site_name: Cursor BBox Documentation
site_url: https://tituslvr.github.io/Cursor_BBox/
site_author: Titus
site_dir: site
docs_dir: docs

repo_url: https://github.com/TitusLVR/Cursor_BBox
repo_name: TitusLVR/Cursor_BBox

theme:
  name: material
  palette:
    - scheme: slate
      primary: blue-grey
      accent: blue-grey
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
    - scheme: default
      primary: blue-grey
      accent: blue-grey
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md

